<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.formationMapper">

<sql id="BaseColumn">
	PLER_NUM plerNum,PLER_NAME plerName,PLER_TEAM plerTeam,PLER_AGE plerAge,PLER_FOOT plerFoot,PLER_RATE plerRate,PLER_PRICE plerPrice,
	 PLER_DETAIL plerDetail,PLER_LEAGUE plerLeague ,PLER_ABILITY plerAbility,PLER_POSITION plerPosition ,PLER_SALARY plerSalary,
	 pler_height plerHeight,pler_indi_skill plerIndiSkill,pler_session plerSession ,PLER_IMAGE plerImage
 </sql>

<sql id="BaseSquad">
	mem_id memId, pler_name plerName, pler_salary plerSalary,pler_price plerPrice,pler_position plerPosition,pler_ability plerAbility
</sql>


<resultMap type="Model.FormationPlayerDTO" id="formationPlayerMap">
	<association property="formationDTO" javaType="Model.FormationDTO">
		<id column="POSITION_NUM" jdbcType="VARCHAR" property="positionNum"/>
		<result column="MEM_ID" jdbcType="VARCHAR" property="memId"/>
		
	</association>
	<association property="playerDTO" javaType="Model.PlayerDTO">
		<id column="PLER_NAME" jdbcType="VARCHAR" property="plerName"/>
		<result column="PLER_PRICE" jdbcType="BIGINT" property="plerPrice"/>
	</association>
</resultMap>


<select id="forPlList" parameterType="string" resultMap="formationPlayerMap">
	select f.pler_name ,POSITION_NUM,pler_price ,mem_Id
	from player p , formation f
	where p.pler_name(+) = f.pler_name and mem_id = #{memId}
</select>

<select id="forPlDetail" parameterType="string" resultType="Model.PlayerDTO">
	select <include refid="BaseColumn"></include> 
	from player 
	where pler_name = #{plerName}
</select>

<select id="forDetail" parameterType="Model.FormationDTO" resultType="Model.FormationDTO">
	select  pler_name plerName
	from formation
	where mem_id = #{memId} and pler_name = #{plerName}
</select>


<delete id="forDel" parameterType="Model.FormationDTO">
	delete from formation 
	where mem_id = #{memId} and position_num = #{positionNum}
</delete>


<select id="forList" parameterType="string" resultType="Model.FormationDTO">
	select mem_id memId, pler_name plerName ,POSITION_NUM positionNum ,pler_image plerImage
	from formation
	where mem_id = #{memId}
</select>




<!-- 
<insert id="wishAdd" parameterType="Model.WishDTO" useGeneratedKeys="false"> 인서트 로 merge쓸때 에러 나는거방지  머지쓸때 insert해도되고 update해도된다
	MERGE into wish w
	using (select prod_num from products where prod_num = #{prodNum}) p
	on (w.prod_num = p.prod_num and w.mem_id = #{memId})
	When matched then ck쓰는이유: 오라클에서 머지쓸때 delete 만 사용이 안된다 그래서 아무거나 만들어서 update 앞에해주는거 
		update set w.ck = 1111
		delete where (w.prod_num = #{prodNum} and w.mem_id = #{memId})
	When not Matched then 
		insert (w.prod_num, w.mem_id)
		values(#{prodNum},#{memId})
	
</insert>  머지로 바꿔야 하지않을까 싶은데 ..-->


<insert id="forRegist" parameterType="Model.FormationDTO">
	insert into formation
		(mem_id, pler_name, POSITION_NUM,pler_image)
	values(#{memId},#{plerName},#{positionNum},
	
	((select pler_image from player where pler_name = #{plerName} ))
	)
</insert>



<select id="squadDetail" parameterType="string" resultType="Model.SquadDTO">
	
	select <include refid="BaseSquad"></include> from squad
	where pler_name = #{plerName}
</select>


<delete id="squadDel" parameterType="string">
	delete from squad
	where pler_name=#{plerName}
	
</delete>

<select id="squadList" resultType="Model.SquadDTO" parameterType="string">
	select <include refid="BaseSquad"></include>
	from squad
	where mem_id = #{memId}
</select>


<insert id="addPlSquad" parameterType="Model.SquadDTO">
	insert into squad 
			(mem_id, pler_name, pler_salary,pler_price,pler_position,pler_ability)
	values(#{memId},#{plerName},#{plerSalary},#{plerPrice},#{plerPosition},#{plerAbility})
	
</insert>



<select id="searchDetail" parameterType="string" resultType="Model.PlayerDTO">
	select <include refid="BaseColumn"></include> from player
	where pler_name LIKE '%' || #{plerName} || '%' 
</select>


</mapper>