<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class="controller.player.PlayerController"></bean>
	<bean class="repository.PlayerRepository"></bean>
	<bean class="service.player.PlayerNumService"></bean>
	<bean class="service.player.PlayerRegistService"></bean>
	<bean class="service.player.PlayerListService"></bean>
	<bean class="service.player.PlayerDetailService"></bean>
	<bean class="service.player.PlayerModifyService"></bean>
	<bean class="service.player.PlayerDelService"></bean>
	
</beans>