<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class="controller.member.MemberController"></bean>
	<bean class="repository.MemberRepository"></bean>
	<bean class="service.member.MemListService"></bean>
	<bean class="service.member.MemDetailService"></bean>
	<bean class="service.member.MemberModService"></bean>
	<bean class="service.member.MemberDelService"></bean>
	
	<bean class="controller.member.MemberJoinController"></bean>
	<bean class="service.member.MemberJoinService"></bean>
</beans>